<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="ActiveCampaign\Integration\Logger\Handlers\DebugHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="ActiveCampaign\Integration\Logger\Handlers\ExceptionHandler">
        <arguments>
            <argument name="filesystem" xsi:type="object">Magento\Framework\Filesystem\Driver\File</argument>
        </arguments>
    </type>
    <type name="ActiveCampaign\Integration\Logger\Logger">
        <arguments>
            <argument name="name" xsi:type="string">ActiveCampaign</argument>
            <argument name="handlers" xsi:type="array">
                <item name="debug" xsi:type="object">ActiveCampaign\Integration\Logger\Handlers\DebugHandler</item>
                <item name="exception" xsi:type="object">ActiveCampaign\Integration\Logger\Handlers\ExceptionHandler</item>
            </argument>
        </arguments>
    </type>
    <type name="ActiveCampaign\Api\Contacts">
        <arguments>
            <argument name="apiKey" xsi:type="string">1234</argument>
            <argument name="apiUrl" xsi:type="string">test</argument>
            <argument name="logger" xsi:type="string">ActiveCampaign\Integration\Logger\Logger</argument>
            <argument name="debug" xsi:type="bool">true</argument>
        </arguments>
    </type>
</config>
